.list-item-transition-enter {
    opacity: 0;
    transform: translateY(10px);
}

.list-item-transition-enter.list-item-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 400ms ease-in, transform 400ms ease-in;
}